html {
    height: 100%;
}

body {
    padding: 0px;
    background-color: transparent;
    margin: 0px;
    background: transparent;
    overflow: hidden;
    height: 100%;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffc;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#pin {
    -webkit-user-select: auto;
    -webkit-app-region: drag;
    width: 40px;
    height: 40px;
    margin: auto;
    background-image: url('./pin.png');
    background-size: cover;
    position: relative;
    top: 30px;
    z-index: 999999999;
    left: 10px;
}

#app {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px auto;
    height: 100%;
    font-size: x-large;
    text-align: center;
    background: #ffc;
    -moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
    -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
    box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
    -moz-transition: -moz-transform .15s linear;
    -o-transition: -o-transform .15s linear;
    -webkit-transition: -webkit-transform .15s linear;
    position: relative;
    overflow: hidden;

}

textarea {
    resize: none;
    width: 100%;
    display: inline-block;
    flex-grow: 2;
    font-size: x-large;
    text-align: center;
    background: #ffc;
    overflow-x: hidden;
    padding-top: 15px;
    border: none;
    overflow: auto;
    overflow-x: hidden;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

textarea:focus {

    position: relative;
    z-index: 5;
}

textarea:hover~#menu, #menu:hover {
    visibility: visible;
    opacity: 1;
}

#menu {
    border-top: 1px solid black;
    flex-grow: 1;
    flex-wrap: nowrap;
    display: flex;
    padding-top: 5px;
    padding-left: 10px;
    z-index: 99999999;
    visibility: hidden;
    opacity: 0;
    justify-content: space-between;
    transition: visibility 0s, opacity 0.2s linear;
    background-color: #ffc;
}

.align {
    background-size: cover;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

.align:hover {
    opacity: 0.5;
}

#align-left {
    background-image: url('./align-left.png');
}

#align-center {
    background-image: url('./align-center.png');
}

#align-right {
    background-image: url('./align-right.png');
}

#last-edited {
    flex-grow: 2;
    font-size: 18px;
}

#word-count {
    background-color: transparent;
    z-index: 100000;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    padding-right: 15px;
}
